

API1 Project/MongoDB/Server/4.4/bin/mongod.pdb
API1 Project/MongoDB/Server/4.4/bin/mongos.pdb
API1 Project/MongoDB/Server/4.4/data/journal/WiredTigerLog.0000000001
API1 Project/MongoDB/Server/4.4/data/journal/WiredTigerPreplog.0000000001
